<?xml version="1.0" encoding="Windows-1252"?>
<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<string>\\bctquad3\rundata\</string>
	<string>\\uspsr200b\Atreus\rundata</string>
	<string>\\uspsr200a\Optia\rundata\</string>
	<string>\\uspsr200b\ces\rundata\</string>
	<string>\\uspsr200a\dailydownloads</string>
</ArrayOfString>